@import "bootstrap.min.css";

body, html {
    height: 100%;
}

div.svgcontainer {
    background: #000000;
    height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}


