<div class="panel panel-default">
    <div class="panel-heading">Metadata</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="levelname" class="col-sm-2 control-label">Levelname</label>

                <div class="col-sm-10">
					<input type="text" class="form-control" id="levelname" placeholder="Your Level"
                           value="<%= levelname %>">
                </div>
            </div>

			<div class="form-group">
                <fieldset>
					<label for="username" class="col-sm-2 control-label">Autor</label>

                    <div class="col-sm-10">
                        <p class="form-control-static" id="username"><%= username %></p>
                    </div>
                </fieldset>
            </div>
        </form>

    </div>
</div>
