<div class="panel panel-default">
    <div class="panel-heading">GameObjects</div>
    <div class="panel-body">
        <p>In this view you can edit all GameObjects of your level.</p>
        <hr/>
        <button id="btn_deleteseelected" class="btn btn-danger disabled">Delete selected</button>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>Time</th>
                <th>Type</th>
                <th>x</th>
                <th>y</th>
                <th>Shape</th>
            </tr>
            </thead>
            <tbody id="tbody_gameobjects">

            </tbody>
        </table>
        <div class="margin-top-15">
            <p>Record new GameObjects by pressing the button below. The track will start playing in fullscreen and you
                can add TapObjects by tapping at your desired positions in time. After playback, you will be redirected
                back here.</p>

            <div class="text-center">
                <button class="btn btn-default" id="record_gameobjects">Record GameObjects!</button>
            </div>
        </div>
        <div class="margin-top-15"></div>
    </div>
</div>
