		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">TouchTheBeat</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li id="home"><a href="#">Home</a>
					</li>
					<li id="chooselevel"><a href="#/chooselevel">Play</a>
					</li>
					<li id="levelbuilder"><a href="#/buildlevel">Level Generator</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Development Blog</a>
							</li>
							<li><a href="#">Roadmap</a>
							</li>
							<li><a href="#">FAQ</a>
							</li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a>
							</li>
							<li><a href="#">One more separated link</a>
							</li>
						</ul>
					</li>
				</ul>
				<!--<form class="navbar-form navbar-right">
                      <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-success">Sign in</button>
                    </form>-->
			</div>
			<!--/.navbar-collapse -->
		</div>