<div class="container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Level Finished!</h1>

            <p>Congratulations! You finished <%= levelname %> with <strong><%= highscore %></strong>.</p>

            <p>
                <button class="btn btn-primary btn" type="button" id="btn_playagain">Play again!</button>
                <button class="btn btn-default" id="btn_gotoChooseLevelView">Return to Level-Overview</button>
            </p>
        </div>
    </div>
</div>
