<div class="container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>TouchTheBeat</h1>

            <p>TouchTheBeat is a HTML5 multi-touch music game currently <strong>in development</strong>. </p>

            <p><a href="#/chooselevel" class="btn btn-primary btn-lg">Try TouchTheBeat &raquo;</a></p>
        </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>The Game</h2>

            <p>TouchTheBeat is <strong>level-based</strong>. Each level consists of a song and a composition of
                interactive objects. The objects can be either tapped,
                <del>hold, dragged or slided</del>
                <i> (soon)</i>. The more <strong>rhythmically accurate</strong> you interact with the objects, the more
                points you get in the end.
            </p>

        </div>
        <div class="col-lg-4">
            <h2>The Level-Builder</h2>

            <p>You can easily create your own levels by using any <strong>SoundCloud track</strong> as music for your
                level. When finished, you might share and exchange your levels online in text-format. This way it is
                easy to <strong>play levels created by others</strong>.</p>

            <p><a class="btn btn-default pull-right" href="#levelbuilder">Build a level &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Development</h2>

            <p>TouchTheBeat is currently in active development and you are testing an <strong>early version</strong>.
                The finished game may be completely different than the current version. I am glad about every <strong>feedback</strong>
                you may give to me. You can give feedback by pressing the button below.</p>

            <p><a class="btn btn-default pull-right" href="//twitter.com/intent/tweet?text=.@TouchTheBeat "
                  target="_blank">Give Feedback</a></p>
        </div>

    </div>
</div>
