<div class="container">
    <div class="alert alert-info alert-dismissable" id="alert_tracknotfound" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div id="alert_tracknotfound_text"><strong>Track not found!</strong> Use a Soundcloud URL in this format: https://soundcloud.com/artist/track.</div>
    </div>
    <div id="trackselection">    
        <h3>Enter a link to a <a href="http://soundcloud.com/">Soundcloud</a>-Track to start:</h3>
        <div class="input-group">
            <input type="text" class="form-control" id="input_entertrack" placeholder="Paste Soundcloud URL here (https://soundcloud.com/artist/track)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btn_recommendedtrack"><span class='glyphicon glyphicon-random'></span></button>
                <button class="btn btn-primary" type="button" id="btn_entertrack">Select this track!</button>
            </span>
        </div>
    </div>

    <div class="row" id="trackinfo" style="display: none">
        <div class="col-sm-4" id="trackcontainer">
        </div>
        <div class="col-sm-8" id="instructions">
            <h3>Great!</h3>
            <p>You selected a track from Soundcloud. You can now add the following GameObjects by pressing the corresponding keys in time:</p>
            <dl class="dl-horizontal">
                <dt>TapObject</dt>
                <dd><kbd>space</kbd></dd>
                <dt>HoldObject</dt>
                <dd><em>soon ...</em></dd>
                <dt>MoveObject</dt>
                <dd><em>soon ...</em></dd>
                <dt></dt>
                <dd><em>more to come ...</em></dd>
            </dl>

            <button class="btn btn-primary pull-right" type="button" id="btn_gameobjectpanel" disabled>I'm ready to
                roll!
            </button>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="background-color: black" width="100%"
                 viewBox="0 0 1600 1200" id="svg">
            </svg>
            <div class="progress" id="progress" style="display:none">
                <div class="progress-bar lg" id="progressbar" role="progressbar" style="width: 0%;"></div>
            </div>

        </div>

        <div class="col-sm-9" id="publish" style="display: none">
            <h3>Allright! <small>Let's finish this.</small></h3>
            <p>All your level-content has been recorded correctly. You can now give a name to your level and play it.</p>
            <div class="input-group">
                <input type="text" class="form-control" id="levelname">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btn_publish">Publish!</button>
                </span>
            </div>
        </div>

        <div class="col-sm-9" id="finished" style="display: none">
            <h3>Congratulations! <small>Your level is ready now.</small></h3>
            <p>You can save your level by copying the data below to the destination of your choice. Then, you can start your level right away by pressing the button below.</p>
            <p><textarea id="leveljsoncontainer" style="width:100%; resize:none" readonly rows="4" onclick="this.focus();this.select()"></textarea></p>
            <p><button class="btn btn-primary pull-right" type="button" id="btn_playnow">Play now!</button></p>
        </div>

    </div>
</div>