<div class="panel panel-default">
    <div class="panel-content media">
            <a class="pull-left" href="<%= trackurl %>"  alt="<%= track %>">
                <img class="media-object" src="<%= imageurl %>" alt="<%= track %>"></a>
            <div class="media-body">
                <div class="vcenter">
                    <h4 class="media-heading"><a href="<%= trackurl %>"><%= track %></a></h4>
                    <div id="infoArtist"><a href="<%= artisturl %>"><%= artist %></a></div>
                </div>
            </div>
    </div>
</div>