<div class="container">
    <div class="alert alert-info alert-dismissable" id="alert_tracknotfound" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div id="alert_tracknotfound_text">
            <strong>Track not found!</strong>
            Use a Soundcloud URL in this format: https://soundcloud.com/artist/track.
        </div>
    </div>
    <div id="trackselection">
        <h3>Enter a link to a
            <a href="http://soundcloud.com/">Soundcloud</a>
            -Track to start:</h3>

        <div class="input-group">
            <input type="text" class="form-control" id="input_entertrack"
                   placeholder="Paste Soundcloud URL here (https://soundcloud.com/artist/track)"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btn_recommendedtrack">
                    <span class='glyphicon glyphicon-random'></span>
                </button>
                <button class="btn btn-primary" type="button" id="btn_entertrack">Select this track!</button>
            </span>
        </div>
    </div>

    <div class="row" id="trackinfo" style="display: none">
        <div class="col-sm-4" id="trackcontainer">
        </div>
        <div class="col-sm-8" id="instructions">
            <h3>Great!</h3>

            <p>You selected a track from Soundcloud. You can now add the following GameObjects by pressing the
                corresponding keys in time:</p>
            <dl class="dl-horizontal">
                <dt>TapObject</dt>
                <dd>
                    <kbd>space</kbd>
                </dd>
                <dt>HoldObject</dt>
                <dd>
                    <em>soon ...</em>
                </dd>
                <dt>MoveObject</dt>
                <dd>
                    <em>soon ...</em>
                </dd>
                <dt></dt>
                <dd>
                    <em>more to come ...</em>
                </dd>
            </dl>

            <button class="btn btn-primary pull-right" type="button" id="btn_gameobjectrecorder">I'm ready to roll!
            </button>
        </div>
    </div>
</div>