<div class="alert alert-info alert-dismissable" id="alert_tracknotfound" style="display:none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div id="alert_tracknotfound_text">
        <strong>Track not found!</strong>
        Use a Soundcloud URL in this format: https://soundcloud.com/artist/track.
    </div>
</div>

<div id="trackselection">
    <p>Here you can create your own levels. Choose a song from <a href="http://soundcloud.com/" target="_blank">Soundcloud</a>
        and enter the track-url below.<br>
        To start immediately, you can also use one of the preselected songs by pressing the small white button.</p>
    <br>

    <div class="input-group input-group-lg">
        <input type="text" class="form-control input-lg" id="input_entertrack"
               placeholder="Paste Soundcloud URL here (https://soundcloud.com/artist/track)"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btn_recommendedtrack">
                    <span class='glyphicon glyphicon-random'></span>
                </button>
                <button class="btn btn-primary" type="button" id="btn_entertrack">Select this track!</button>
            </span>
    </div>

</div>

<div class="row" id="trackinfo" style="display: none">
    <div class="col-sm-4" id="trackcontainer">
    </div>
    <div class="col-sm-8" id="instructions">
        <h3>Great!</h3>

        <p>You selected a track from Soundcloud. After pressing the button below, the track will be played and you
            can add TapObjects by tapping at your desired positions in time.</p>

        <button class="btn btn-primary pull-right" type="button" id="btn_gameobjectrecorder">Next step
        </button>
    </div>
</div>