<div class="container">
    <div class="col-sm-9" id="publish" style="display: none">
        <h1>Level Generator</h1>
        <hr/>
        <h3>Allright!
            <small>Let's finish this.</small>
        </h3>
        <p>All your level-content has been recorded correctly. You can now give a name to your level and play it.</p>

        <div class="input-group">
            <input type="text" class="form-control" id="levelname"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="btn_publish">Publish!</button>
            </span>
        </div>
    </div>

    <div class="col-sm-9" id="finished" style="display: none">
        <h3>Congratulations!
            <small>Your level is ready now.</small>
        </h3>
        <p>You can save your level by copying the data below to the destination of your choice. It is recommended to do
            this first. Then, you can start playing your
            level by pressing the button below or by copying the level-text into the input-field at the Level
            Overview.</p>

        <p><textarea id="leveljsoncontainer" style="width:100%; resize:none" readonly rows="4"
                     onclick="this.focus();this.select()"></textarea></p>

        <p>
            <button class="btn btn-primary pull-right" type="button" id="btn_playnow">Play now!</button>
        </p>
    </div>

</div>