<div class="container">
    <h1>Level Builder</h1>
    <hr/>
    <p>Here you can create and edit your own levels. You can either start from scratch or edit an existing level. Choose
        your way below:</p>
    <br>

    <div class="list-group">
        <a class="list-group-item" href="#levelbuilder/create">

            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-plus"></span> Create a new level!</h4>

            <p class="list-group-item-text">
                You will select a track from SoundCloud and record your gameobjects.
            </p>
        </a>
        <a class="list-group-item" href="#levelbuilder/edit">
            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-pencil"></span> Edit an existing level!
            </h4>

            <p class="list-group-item-text">
                You will open a level by entering its level-text and customize/refine it.
            </p>
        </a>
    </div>
</div>