<p>Here you can create and edit your own levels. You can either start from scratch or edit an existing level. Choose
    your way below:</p>
<br>

<h2><span class="glyphicon glyphicon-pencil"></span> New Level</h2>

<div class="list-group">

    <a class="list-group-item" href="#levelbuilder/create" id="new">

        <h4 class="list-group-item-heading">Create a new level!</h4>

        <p class="list-group-item-text">
            You will select a track from SoundCloud and record your gameobjects.
        </p>
    </a>
</div>
<div class="list-group">
    <h2><span class="glyphicon glyphicon-pencil"></span> Your Drafts</h2>

    <div id="draftcontainer" class="list-group">

    </div>
</div>